<ion-header>
  <ion-toolbar color="dark">
    <p>Skiing the world</p>
  </ion-toolbar>
</ion-header>

<ion-content padding="">

  <ion-grid col-12>
    <form #f ="ngForm" (ngSubmit)="doLogin(f.value)">
    <ion-row>
      <ion-col col-4 offset-4>
        <ion-img [height]="150" [width]="150"
                 src="../../assets/imgs/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10 offset-2>


        <ion-item col-12>
          <ion-label floating>Username or E-mail or phone number</ion-label>
          <ion-input required [(ngModel)]="model.login" type="text" name="login"></ion-input>
        </ion-item>

        <ion-item col-12>
          <ion-label floating>Password</ion-label>
          <ion-input required type="password" [(ngModel)]="model.password" name="password"></ion-input>
        </ion-item>


      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4 offset-4>
        <div padding>
          <button ion-button color="dark" type="submit" [disabled]="!f.valid">Sign In</button>
        </div>
      </ion-col>

    </ion-row>
    </form>
  </ion-grid>

</ion-content>
