<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title style="text-align:center">List of Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list *ngFor="let event of events">
          <ion-item>
            <ion-avatar item-start>
                <img src="http://localhost:18080/SkiWorld-web/resources/events/{{event.id}}/{{event.images[0].fileName}}" alt="" />
            </ion-avatar>
            <h2>{{event.name}}</h2>
            <h3>{{event.start|date:'dd MMM' }}</h3>
            <p>{{event.description}}</p>
            <hr>
          </ion-item>
        </ion-list>

</ion-content>
