<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


    <ion-content (click)="reload()">
      <ion-card>
      <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img width="150px" height="150px" src="{{avatar}}">
          </div>
          <h2 class="profile-name dark">{{this.parent.currentUser.firstName}} {{this.parent.lastName}}</h2>
          <div class="profile-info">{{this.parent.currentUser.email}}</div>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-4 offset-4 >
              <ion-item class="profile-item">
                <button ion-button color="dark" class="button button-block button-positive" (click)="logout()">
                  Logout
                </button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      </ion-card>
    </ion-content>




</ion-content>
