<!--
  Generated template for the allOffers page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align:center">List of Offers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngFor="let offer of offers">
    <ion-item>
      <h2>{{offer.name}}</h2>
      <h3>{{offer.startDate|date:'dd MMM' }}</h3>
      <h3>{{offer.endDate|date:'dd MMM' }}</h3>
      <p>{{offer.description}}</p>
      <hr>
    </ion-item>
  </ion-list>

</ion-content>
